#visuel{

	width: 1400px;
	height: 1000px;
	position: absolute;
	
}

#menucombat{
	display: none;
}

#entete{

	left: 1410px;
	position: absolute;
	width: 450px;
	height: 50px;

}

#liste{
	
	left: 1410px;
	top: 100px;
	position: absolute;
	width: 450px;
	height: 500px;
	padding-left: 50px;
}

.bouton{
	float: left;
	text-align: center;
	font-size: 80%;
	width: 33%;
	height: 50%;
}