#visuel{

	width: 800px;
	height: 500px;
	position: absolute;
	
}

#liste{
	
	left: 850px;
	top: 150px;
	position: absolute;
	width: 300px;
	height: 500px;
	
}
#entete{

	left: 850px;
	top: 50px;
	position: absolute;
	width: 300px;
	height: 100px;

}