#visuel{

	width: 1600px;
	height: 900px;
	position: absolute;
	
}

#entete{

	left: 1650px;
	position: absolute;
	width: 500px;
	height: 50px;

}

#liste{
	
	left: 1650px;
	top: 100px;
	position: absolute;
	width: 500px;
	height: 500px;
	
}

.bouton{
	float: left;
	text-align: center;
	font-size: 80%;
	width: 33%;
	height: 50%;
}